<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
  <appSettings>
    <add key="RabbitMQ_Uri" value="amqp://flight:yyabc123@139.198.13.12:4128/Flight"/>
    <add key="EnableRabbitMQ" value="true"/>
    <add key="RabbitMQ_VirtualHost" value="/"/>
  </appSettings>
</configuration>
